.SearchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    border: 1px solid #DADDE2;

    height: 80px;
    max-width: 900px;
    width: 100%;
    }
    
    .logo{
      margin-top: 19px;
      width: 30%;
      height: 40px;
      border: none;
    }
    
    .logo .logoImg{
      max-width: 100%;
      height: auto;
    }

      
  
   
    .SearchInput{
      margin-top: 20px;
      height: 30px;
      width: 85%;
      border: 1px solid #DADDE2;
      align-self: center;
      text-align: center;
    }
    
    .icons{
      width: 17%;
      height: 130px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 130px;
    }
    
    .far{
   border: none;
      width: 30%;
      height: 25px;
      text-align: center;
    }
  